<h1 class="ui center aligned header">
  Sign up
</h1>
<div class="ui grid">
  <div class="eight wide column">
    <%= form_with model: @user, class: "ui form", local: true do |f| %>
      
      <%= render "shared/errors" %>
      
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: "Username" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
      </div>
      <%= f.submit "Submit", class: "ui red fluid button" %>
    <% end %>
  </div>
  <div class="eight wide column">
    <h2 class="ui center aligned icon header">
      <i class="circular red coffee icon"></i>
      Sign up for chattyness
    </h2>
  </div>
</div>